<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
</div>
<% @questions.each do |q| %>
<div class="media">
  <img class="mr-3" src="<%= q.gravatar %>" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0"><%= q.email %> asked:</h5>
        <%= time_ago_in_words q.created_at %> ago
        <br/>
        <%= q.body %>
    <div>
        <a href="<%= question_path(q) %>" class="btn btn-success btn-sm">View Answers</a>
    </div>
  </div>
</div>
<br/>
<% end %>

<% if @questions.empty? %>
    <div class="alert alert-info" role="alert">Nothing here yet...</div>
<% end %>
